# Exclude VCS and editor files
.git
.gitignore
.DS_Store

# Node modules and build outputs
node_modules
S3WebClient/node_modules
S3WebClient/dist

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/.vite
**/.cache

